# Rust
target/

# Korangar
korangar/archive/data/font/*
korangar/client/
korangar/cache/
korangar/data.grf
korangar/rdata.grf
korangar/renewal2021.grf
korangar/resources2021.grf
korangar/OngoingQuestInfoList_True_EN.lub
korangar/System
korangar/lua_files/
korangar/lua_files.grf
korangar/[Bb][Gg][Mm]
korangar/[Bb][Gg][Mm]/
korangar/*.7z

# Nix & direnv
.direnv/

# macos
.DS_Store

# Idea
.idea/
